/* ================= PARALAX ===============
/* * {
  margin: 0px;
  padding: 0px;
}
.banner1 {
  color: white;
  min-height: 100vh;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./2.jpg");
  background-attachment: scroll;
  background-size: cover;
}

.banner2 {
  color: yellow;
  background: linear-gradient(rgba(0, 0, 255, 0.239), rgba(255, 0, 0, 0.808)),
    url("./3.jpg") center/cover no-repeat fixed;
  min-height: 100vh;
} */

/*
.big-img {
  background: url("./1.jpg");
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  background-size: cover;
}

.small-img {
  background: url("./2.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.smaller-img {
  background: url("./3.jpg");
  min-height: 100vh;
  background-size: cover;
}
*/

/* ================= GRADIENTS =============== */

/*
.gradients {
  min-height: 2em;
}

.grad1 {
  min-height: inherit;
  background: linear-gradient(red, blue, green, pink, yellow);
}
.grad2 {
  min-height: inherit;
  background: linear-gradient(90deg, red, blue);
}
.grad3 {
  min-height: inherit;
  background: linear-gradient(to top, orange, black);
}
.grad4 {
  min-height: inherit;
  background: linear-gradient(to top right, red, blue);
}
.grad5 {
  min-height: inherit;
  background-image: url("./3.jpg");
  background: linear-gradient(rgba(255, 0, 0, 0.123), rgba(0, 0, 255, 0.726));
}
.grad6 {
  min-height: inherit;
  background-image: url("./3.jpg");
}
*/

/* ================= RESPONZE =============== */

/* body {
  background-color: black;
}

.banner {
  background: blue;
  height: 4rem;
  text-transform: capitalize;
  text-decoration-line: underline;
}

@media screen and (min-width: 576px) {
  body {
    background-color: red;
  }
  .banner {
    background-color: yellow;
    font-size: 20px;
  }
}

/* @media screen and (min-width: 768px) {
  body {
    background-color: rgb(11, 226, 40);
  }
  .banner {
    background-color: rgb(38, 214, 205);
    font-size: 20px;
    font-family: "Verdana";
  }
} */

/* ================= ZINDEX =============== */

/* img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.banner {
  margin: 20px;
  width: 80vw;
  height: 70vh;
  color: red;
  border: blue dashed 2px;
  position: relative;
}

.one {
  top: 0;
  left: 0;
  z-index: 2;
}

.two {
  top: 5%;
  left: 5%;
  z-index: 0;
}

.three {
  top: 10%;
  left: 10%;
  z-index: 1;
} */

/* ================= BEFORE AFTER ANIMACE =============== */

/* p::before {
  content: "before ";
  background-color: black;
  color: white;
  display: block;
}

p::after {
  content: "";
  background-color: blue;
  width: 50px;
  height: 50px;
  display: block;
}

div {
  width: 60vw;
  margin: 100px auto;
  /* border: red dashed 2px; */
/* position: relative;
}
img {
  width: 100%;
  display: block;
}

div::before {
  content: "";
  border: grey 5px solid;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -40px;
  left: -40px;
  z-index: -2;
  transition: all 0.5s linear;
}

div::after {
  content: "";
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 90px;
  left: 90px;
  z-index: -12;
  transition: all 0.5s linear;
}

div:hover::before,
div:hover::after {
  top: 0px;
  left: 0px;
} */

/* ================= VARIABLES =============== */

/* :root {
  --primaryColor: blue;
  --secondaryColor: red;
  --mainTransition: all 0.4s linear;
}

.variable {
  height: 150px;
  display: block;
  background-color: var(--primaryColor);
  transition: var(--mainTransition);
}

.variable:hover {
  height: 150px;
  display: block;
  background-color: var(--secondaryColor);
} */

.fa-air-freshener {
  color: red;
  font-size: 200px;
}
